{# Base template for divvy #}
{% macro header(title='divvy', buttons=True) -%}
	<div data-role="header" data-position="fixed">
		{% if buttons %}
			<a href="#content" data-role="button" data-icon="bars" data-iconpos="notext" class="ui-btn-left">Menu</a>
		{% endif %}
		<h1>{{ title }}</h1>
		{% if buttons %}
			<a href="#settings" data-role="button" data-icon="gear" data-iconpos="notext" class="ui-btn-right">Settings</a>
		{% endif %}
	</div>
{%- endmacro %}
{% macro footer(title='&copy; 2016') -%}
	<div data-role="footer" data-position="fixed">
		<h4>{{ title|safe }}</h4>
	</div>
{%- endmacro %}
{% macro render_field(field) -%}
	<p>
		{{ field.label }}
		{{ field(**kwargs)|safe }}
		{% if field.errors %}
			<ul class="error">
				{% for error in field.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</p>
{%- endmacro %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}{% endblock %} - divvy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
		<script>
			requirejs.config({
				"baseUrl": "/static/js",
				"paths": {
					"jquery": "//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min"
					, "jquery-mobile": "//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min"
					, "knockout": "//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min"
				}
			});
		</script>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
