{# Base template for divvy #}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}{% endblock %} - divvy</title>
		<link rel="stylesheet" href=""/>
		<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
		<script>
			requirejs.config({
				"baseUrl": "/static/js",
				"paths": {
					"jquery": "//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min"
					, "jquery-mobile": "//cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min"
				}
			});
		</script>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
