{# Signup form for divvy #}
{% extends "base.html" %}
{% block title %}sign up{% endblock %}
{% block head %}<script>require(['naked']);</script>{% endblock %}
{% block content %}
	<div data-role="page">
		{{ header() }}
		<div data-role="content" class="ui-content">
			<h1>Sign Up</h1>
			{% if errors %}
				<ul class="error">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<form action="" method="post" data-ajax="false">
				{{ form.hidden_tag() }}
				{{ render_field(form.username) }}
				{{ render_field(form.email) }}
				{{ render_field(form.password) }}
				{{ render_field(form.password2) }}
				<p>
					<button type="submit">Sign Up</button>
				</p>
			</form>
		</div>
		{{ footer() }}
	</div>
{% endblock %}
