.error {
	font-weight: bold;
	color: Red;
}

.info {
	font-weight: bold;
	color: Blue;
}

div[data-role="panel"] form.ui-filterable {
	padding-top: 1em;
}

@media screen and (min-width: 960px) {
	.ui-header > a {
		display: none !important;
	}

	.ui-panel {
		position: relative !important;
		transform: none !important;
		visibility: visible !important;
		width: 17em !important;
		float: left !important;
	}

	.ui-panel[data-position="right"] {
		float: right !important;
	}

	#content > .ui-panel-inner > ul > li:nth-child(2) {
		display: none;
	}
}
