{# Menu panel for divvy #}
<div id="content" data-role="panel" data-display="overlay">
	<ul data-role="listview">
		<li data-theme="b" data-role="list-divider">
			<strong>Content</strong>
		</li>
		<li data-icon="delete">
			<a href="#" data-rel="close">Close</a>
		</li>
	</ul>
	<ul data-role="listview" data-filter="true" data-filter-placeholder="Search for content...">
		{% for t in all_tags() %}
			<li data-role="list-divider" data-theme="a">{{ t.description }}</li>
			{% for s in t.sources_object() %}
				<li data-icon="plus">
					<a href="#">{{ s.description }}</a>
				</li>
			{% endfor %}
		{% endfor %}
	</ul>
</div>
